body {
    margin: 0;
    font-family: "Segoe UI", sans-serif;
    background: #0b0f14;
    color: #e6e6e6;
    line-height: 1.6;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
}
/*navbar*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 1px solid #1f1f1f;
}

nav h2 {
    color: #00ffcc;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    color: #e6e6e6;
    text-decoration: none;
    transition: 0.2s;
}

nav a:hover {
    color: #00ffcc;
}

.semester {
    margin-top: 50px;
    font-size: 20px;
    color: #00ffcc;
    border-left: 4px solid #00ffcc;
    padding-left: 12px;
    letter-spacing: 1px;
}

.course-card {
    background: linear-gradient(145deg, #141a22, #0f141b);
    padding: 18px;
    margin: 18px 0;
    border-radius: 14px;
    border: 1px solid #1f2a36;
    box-shadow: 0 6px 20px rgba(0,0,0,0.3);
    transition: all 0.25s ease;
}

.course-card:hover {
    transform: translateY(-5px);
    border-color: #00ffcc;
    box-shadow: 0 10px 30px rgba(0,255,204,0.08);
}

.course-card h3 {
    color: #ffffff;
    margin-bottom: 8px;
}

.failed {
    border-left: 4px solid red;
}
.tag {
    display: inline-block;
    padding: 4px 10px;
    margin: 4px 5px 0 0;
    font-size: 12px;
    border-radius: 20px;
    background: #1b2a33;
    color: #00ffcc;
    border: 1px solid #00ffcc33;
}
.course-card {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeIn 0.5s ease forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
.page-title {
    font-size: 32px;
    margin-bottom: 20px;
    color: #00ffcc;
}

.tag-group {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    padding: 5px 10px;
    margin: 4px 5px 0 0;
    font-size: 12px;
    border-radius: 20px;
    background: #1b2a33;
    color: #00ffcc;
    border: 1px solid #00ffcc33;
}